@{
    ViewData["Title"] = "Report A Fault";
}
@using (Html.BeginForm("ErrorForm1", "ErrorForm", FormMethod.Post, new { onsubmit = "return validateCheckBoxes()" }))
{
    <html>
    <head>
        <link rel="stylesheet" href="~css/site.css" />
    </head>
    <body>
        <div>
            <label class="display-3">
                Select Incident Type
            </label>
            <div class="form-check">
                <label class="form-check-label">Client Incident Type @Html.CheckBox("cli", new {id="cliCheckbox"})</label>

                <label class="form-check-label">Broadband @Html.CheckBox("bb", new{id="bbCheckbox"})</label>
                <div style="display:none;" id="checkBoxAlert" role="alert">
                    <p style="color:red;">Please select an Error Type</p>
                </div>


            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" name="Next">Next</button>
            <button type="submit" name="Cancel" class="btn btn-danger" value="Cancel Error" onclick="location.href='@Url.Action("Index","LandingPage")';return false;''">Cancel Error</button>
        </div>
    </body>
    </html>
}

<script type="text/javascript">

    function validateCheckBoxes() {
        if (!document.getElementById("cliCheckbox").checked && !document.getElementById("bbCheckbox").checked) {
            document.getElementById("checkBoxAlert").style.display = 'block';
            return false;
        }
        else {
            return true;
        }
    }
</script>