@{
    ViewData["Title"] = "Report A Fault";
}
@using (Html.BeginForm("ErrorForm1", "ErrorForm", FormMethod.Post, new { onsubmit = "return validateCheckBoxes()" }))
{
    <html>
    <body>
        <div class="faultprogress">
            1/6
        </div>
        <div>
            <h1 class="display-6">Select Incident Type</h1>
        </div>
        <div style="padding-top: 5%">
            <div class="form-check checkboxesCentered">
                <label class="form-check-label">Phone @Html.CheckBox("cli", new {id="cliCheckbox"})</label>
                <label class="form-check-label">Broadband @Html.CheckBox("bb", new{id="bbCheckbox"})</label>
            <div style="display:none;" id="checkBoxAlert" role="alert">
                <p class="alert" style="color: red">&nbsp;&nbsp;Please select a Fault Type</p>
            </div>
        </div>
        </div>
        <div class="checkboxesCentered">
            <button type="submit" name="Cancel" class="btn btn-secondary" value="Back" onclick="location.href='@Url.Action("NumbersPage","LandingPage")';return false;''">Back</button>
            <button type="submit" class="btn btn-info" name="Next">Next</button>
        </div>
    </body>
    </html>
}

<script type="text/javascript">

    function validateCheckBoxes() {
        if (!document.getElementById("cliCheckbox").checked && !document.getElementById("bbCheckbox").checked) {
            document.getElementById("checkBoxAlert").style.display = 'block';
            return false;
        }
        else {
            return true;
        }
    }
</script>