#allErrors {
    display: flex;
    align-content: center;
}

#CLITypes {
    font-size: 25px;
    width: 50%;
    float: right;
}

#BbTypes {
    font-size: 25px;
    width: 50%;
    float: left;
}

#ClItitle {
    text-align: left;
}

#BbTitle {
    font: 700;
    text-align: left;
}

label {
    padding: 0px 10px 5px 20px;
    margin: 0px 10px 5px 55px;
}
