@model XLN_Fault_Report_System.Models.Fault
@{
    ViewData["Title"] = "Report A Fault";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="text-left">
        <h1 class="display-6">Please Fill in the following Form</h1>
    </div>

    <form id="errorInformationForm" method="post" asp-controller="ErrorForm" asp-action="Diagnostics">

                <label>Is the error intermittent</label><br />
                <label for="faultIsIntermittent">Yes</label>
                <input type="radio" id="faultIsIntermittent" name="intermittentFault" required /><br />
                <label for="notIntermittent">No</label>
                <input type="radio" id="notIntermittent" name="intermittentFault" required /><br />
                <label for="notSure">Not sure</label>
                <input type="radio" id="notSure" name="intermittentFault" required /><br />
                <button type="submit" onclick="intermittentSelection()" name="Next">Next</button>


        <div id="intermittentDescription" style="display:none">
            <label for="durationDescription">State the pattern of the error</label>
            <input type="text" id="durationDescription" name="durationDescription" maxlength="50" required /><br />

        </div>
        <div id="submissionButton" style="display:none">
            <input type="Submit" name="Submit" value="Submit" onclick="submitForm" />
        </div>
    </form>

    <script type="text/javascript">
        function showErrorList() {
            if (document.getElementById('cli').checked || document.getElementById('bb').checked) {
                var errorForm = document.getElementById("errorInfo");
                errorForm.style.display = 'block';
                document.getElementById("cli").disabled = true;
                document.getElementById("bb").disabled = true;
            } else {
                alert("Please select an error type");
            }
        }

        function showDescription() {
            if (document.getElementById('otherErrorsExist').checked || document.getElementById('noOtherErros').checked) {
                var errorTextBox = document.getElementById("errorTextBox");
                errorTextBox.style.display = 'block';
                document.getElementById("otherErrorsExist").disabled = true;
                document.getElementById("noOtherErros").disabled = true;
            }
            else {
                alert("Please select if you have any other errors");
            }
        }

        function intermittentSelection() {
            var checkDescription = true;
            var inputFromUser = document.getElementById("errorDescription").value;
            if (inputFromUser == "") {
                alert("Please describe your error");
                checkDescription = false;
            }

            if (checkDescription) {
                if (document.getElementById("faultIsIntermittent").checked) {
                    var durationDescription = document.getElementById("intermittentDescription");
                    durationDescription.style.display = 'block';
                }
                else {
                    document.getElementById("faultIsIntermittent").disabled = true;
                    document.getElementById("notIntermittent").disabled = true;
                    document.getElementById("notSure").disabled = true;
                }
                document.getElementById("submissionButton").style.display = 'block';
            }
        }
    </script>




</body>
</html>

