@model XLN_Fault_Report_System.Models.Fault
@{
    ViewData["Title"] = "Report A Fault";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="text-left">
        <h1 class="display-6">Please Fill in the following Form</h1>
    </div>

    <form id="errorInformationForm" method="post" asp-controller="ErrorForm" asp-action="Diagnostics">


        <div id="errorInfo" style="display:none">
            <div id="allErrors">
                <div id="CLITypes">
                    <strong><label id="ClItitle">CLI Incident Type</label><br /></strong>
                    <label for="bell">Bell not ringing</label>
                    <input type="checkbox" id="bell" name="CliIncidentType" /><br />

                    <label for="dialTone">Continuous dial tone</label>
                    <input type="checkbox" id="dialTone" name="CliIncidentType" /><br />

                    <label for="crossedLine">Crossed lines</label>
                    <input type="checkbox" id="crossedLine" name="CliIncidentType" /><br />

                    <label for="cutsOff">Cuts off</label>
                    <input type="checkbox" id="cutsOff" name="CliIncidentType" /><br />

                    <label for="noDialTone">No dial tone</label>
                    <input type="checkbox" id="noDialTone" name="CliIncidentType" /><br />

                    <label for="noiseyLine">Noisey Line</label>
                    <input type="checkbox" id="noiseyLine" name="CliIncidentType" /><br />

                    <label for="damage">Damage</label>
                    <input type="checkbox" id="damage" name="CliIncidentType" /><br />
                </div>

                <div id="BbTypes">
                    <strong><label id="BbTitle">BB Incident Type</label><br /></strong>
                    <label for="intermittentConnection">Intermittent Connection</label>
                    <input type="checkbox" id="intermittentConnection" name="BbIncidentType" /><br />

                    <label for="earlyLifeFail">Early life failure</label>
                    <input type="checkbox" id="earlyLifeFail" name="BbIncidentType" /><br />

                    <label for="bbFault">Broadband Fault</label>
                    <input type="checkbox" id="bbFault" name="BbIncidentType" /><br />

                    <label for="landlineFault">Landline fault</label>
                    <input type="checkbox" id="landlineFault" name="BbIncidentType" /><br />

                    <label for="firmwareUpgrade">Firmware upgraded</label>
                    <input type="checkbox" id="firmwareUpgrade" name="BbIncidentType" /><br />

                    <label for="noWP">No web pages loading</label>
                    <input type="checkbox" id="noWP" name="BbIncidentType" /><br />
                </div>

                <div>
                    <label>Do you have any others errors</label>
                    <label for="otherErrorsExist">Yes</label>
                    <input type="radio" id="otherErrorsExist" name="otherErrors" /><br />
                    <label for="noOtherErros">No</label>
                    <input type="radio" id="noOtherErros" name="otherErrors" /><br />

                </div>
            </div>
            <button type="submit" onclick="showDescription()" name="Next">Next</button>



            <div id="errorTextBox" style="display:none">
                <label for="errorDescription">Can you describe your error:</label><br />
                <input type="text" id="errorDescription" name="errorDescription" maxlength="250" /><br />

                <label>Is the error intermittent</label><br />
                <label for="faultIsIntermittent">Yes</label>
                <input type="radio" id="faultIsIntermittent" name="intermittentFault" required /><br />
                <label for="notIntermittent">No</label>
                <input type="radio" id="notIntermittent" name="intermittentFault" required /><br />
                <label for="notSure">Not sure</label>
                <input type="radio" id="notSure" name="intermittentFault" required /><br />
                <button type="submit" onclick="intermittentSelection()" name="Next">Next</button>
            </div>
        </div>


        <div id="intermittentDescription" style="display:none">
            <label for="durationDescription">State the pattern of the error</label>
            <input type="text" id="durationDescription" name="durationDescription" maxlength="50" required /><br />

        </div>
        <div id="submissionButton" style="display:none">
            <input type="Submit" name="Submit" value="Submit" onclick="submitForm" />
        </div>
    </form>

    <script type="text/javascript">
        function showErrorList() {
            if (document.getElementById('cli').checked || document.getElementById('bb').checked) {
                var errorForm = document.getElementById("errorInfo");
                errorForm.style.display = 'block';
                document.getElementById("cli").disabled = true;
                document.getElementById("bb").disabled = true;
            } else {
                alert("Please select an error type");
            }
        }

        function showDescription() {
            if (document.getElementById('otherErrorsExist').checked || document.getElementById('noOtherErros').checked) {
                var errorTextBox = document.getElementById("errorTextBox");
                errorTextBox.style.display = 'block';
                document.getElementById("otherErrorsExist").disabled = true;
                document.getElementById("noOtherErros").disabled = true;
            }
            else {
                alert("Please select if you have any other errors");
            }
        }

        function intermittentSelection() {
            var checkDescription = true;
            var inputFromUser = document.getElementById("errorDescription").value;
            if (inputFromUser == "") {
                alert("Please describe your error");
                checkDescription = false;
            }

            if (checkDescription) {
                if (document.getElementById("faultIsIntermittent").checked) {
                    var durationDescription = document.getElementById("intermittentDescription");
                    durationDescription.style.display = 'block';
                }
                else {
                    document.getElementById("faultIsIntermittent").disabled = true;
                    document.getElementById("notIntermittent").disabled = true;
                    document.getElementById("notSure").disabled = true;
                }
                document.getElementById("submissionButton").style.display = 'block';
            }
        }
    </script>




</body>
</html>

