@inject IHttpContextAccessor contextAccessor;
@{
    ViewData["Title"] = "XLN Landing Page";
}

<body>
    <div class="greyBackground">
        <p>
        Need to call Customer Service? 0344 880 7777
        </p>
    </div>
    <div class="bluebox">
        <p>
            @contextAccessor.HttpContext.Session.GetString("Username").ToString()
        </p>
        <p>
            ACCOUNT OVERVIEW
        </p>
    </div>
    <div>
        <p>
            <span style="font-weight:bolder">Your account is fully paid.</span> Your next invoice will be on or after (dd/mm/yyyy).
        </p>
        <p>
            Click here to set up and start and start paying by direct debit
        </p>
    </div>
    <div class="greyBackground">
        <p>
            COVID-19 Help - View FAQs
        </p>
        <p>
            <div class="LPBox">
                <a asp-controller="LandingPage" asp-action="NumbersPage">Report A Fault</a>
            </div>
        </p>
    </div>
</body>