
@{
    ViewData["Title"] = "XLN Landing Page";
}

<body>
    <div class="bluebox">
        <p>
            @ViewBag.username
        </p>
        <p>
            ACCOUNT OVERVIEW
        </p>
    </div>
    <div>
        <p>
            <span style="font-weight:bolder">Your account is fully paid.</span> Your next invoice will be on or after (dd/mm/yyyy).
        </p>
    </div>
</body>