@inject IHttpContextAccessor contextAccessor
@{
    ViewData["Title"] = "Your Numbers";
    User user = TempData["User"] as User;
    List<Asset> assets = TempData["UsersAssets"] as List<Asset>;
    int amount = assets.Count();

}
<div>
    @foreach (Asset a in assets)
    {
        <p>
            <div>
                @a.Number <a asp-controller="ErrorForm" asp-action="WarningPage">Report Fault</a>
            </div>
        </p>
    }
</div>
