@inject IHttpContextAccessor contextAccessor
@model XLN_Fault_Report_System.Models.Asset
@{
    ViewData["Title"] = "Your Numbers";
    User user = TempData["User"] as User;
    List<Asset> assets = TempData["UsersAssets"] as List<Asset>;
}
<html>
<head>
    <link rel="stylesheet" href="~css/site.css" />
    <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css”rel =”nofollow” integrity=”sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm” crossorigin=”anonymous”>
</head>
<body>
    <h1 class="lineHeading">Select The Affected Line</h1>
    <div class="numbersContainer">
        @foreach (Asset a in assets)
        {
            <p>
                <form asp-controller="LandingPage" asp-action="NumbersPage" method="post">
                    <div class="numberBox">
                        <div class="phoneNumber">
                            @a.Number <input type="hidden" asp-for="AssetId" value="@a.AssetId" />
                        </div>
                        <button type="submit" class="btn btn-primary">Report Fault</button>
                    </div>
                    <div class="historyBox">
                        Fault History for this Line
                        @if (a.Faults != null)
                        {
                            @for (int i = 0 ; i < a.Faults.Count/2; i++)
                            {
                                <div>
                                    @a.Faults[i].ContactName
                                </div>
                            }
                        }
                        <!--Add fault status and history if appicable here-->
                    </div>
                </form>
            </p>
        }
    </div>
</body>
</html>