@inject IHttpContextAccessor contextAccessor
@model XLN_Fault_Report_System.Models.Asset
@{
    ViewData["Title"] = "Your Numbers";
    User user = TempData["User"] as User;
    List<Asset> assets = TempData["UsersAssets"] as List<Asset>;
}
<div>
    @foreach (Asset a in assets)
    {
        <p>
            <form asp-controller="LandingPage" asp-action="NumbersPage" method="post">
                <div>
                    @a.Number <input type="hidden" class="reportButton" asp-for="AssetId" value="@a.AssetId"/>
                    <button type="submit">Report Fault</button>
                </div>
            </form>
        </p>
    }
</div>
