* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.container {
    position: relative;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.customerServiceTitle {
    width: 100%;
    height: 35px;
    background-color: #eceded;
    margin: 0;
    text-align: center;
}

.accountOverviewBox {
    text-align: center;
    margin-bottom: 0;
    color: white;
    background-color: #2596be;
    height: 75px;
    margin: 0, 0, 0, 0;
    text-align: center;
}

.accountPayment {
    font-size: 10px;
    text-align: center;
}

.boxesContainer {
    background-color: lightgrey;
    color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 25px;
}

.box {
    position: relative;
    margin: 20px;
    padding: 20px;
    width: 300px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.lineHeading {
    color: white;
    background-color: #2596be;
    height: 75px;
    text-align: center;
    margin: 0, 0, 0, 0;
    font-size: 30px;
}

.phoneNumber {
    text-align: center;
    color: #2596be;
}

.selectTypeTitle {
    position: relative;
    background-color: #2596be;
    height: 75px;
    text-align: center;
    margin: 0, 0, 0, 0;
    font-size: 30px;
}

#allErrors {
    display: flex;
    align-content: center;
}

#CLITypes {
    flex
    /*
    font-size: 25px;
    width: 50%;
    float: right;
        */
}

#BbTypes {
    font-size: 25px;
    width: 50%;
    float: left;
}

label {
    padding: 0px 10px 5px 20px;
    margin: 0px 10px 5px 55px;
}

.errorSelectionContainer {
    margin-top: 10px;
}

.numbersContainer {
    width: 1300px;
    overflow: hidden;
}

.numberBox {
    float: left;
    margin: 20px;
    padding: 20px;
    width: 300px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    background-color: white;
    align-items: center;
}

.historyBox {
    float: left;
    margin: 20px;
    padding: 20px;
    width: 600px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    background-color: white;
    align-items: center;
}
